{{define "home.html"}}
{{template "chromeStart" .}}
<section class="front-page">
  {{if .Posts}}
  <ol class="brief-list front-list">
    {{range $post := .Posts}}
    <li>
      <time>{{date $post.Date}}</time>
      <a href="{{postURL $post}}">{{$post.Title}}</a>
      <span>{{$post.Summary}}</span>
      <div class="post-meta">
        {{range $post.Tags}}<span>#{{.}}</span>{{end}}
      </div>
    </li>
    {{end}}
  </ol>
  {{template "sitePagination" .}}
  {{else}}
  <article class="front-empty">
    <h2>{{msg . "home.empty.title"}}</h2>
    <p>{{msg . "home.empty.body"}}</p>
  </article>
  {{end}}
</section>
{{template "chromeEnd" .}}
{{end}}
